#tab2{
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

#conte-tab2{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-sizing: border-box;
    box-shadow: 0 0 12px 1px rgba(0,0,0, 0.3);
}

.titulo-tab2{
    width: 100%;
    padding: 20px;
    border: 1px solid black;
}

.contenido-tab2{
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .imgHorario{
        width: 25%;
        height: 100%;
       
        display: flex;
        flex-direction: column;

        .lineaName{
            h3{
                text-align: center;
                padding: 20px;
            }
        }
        .imageLinea{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 95%;
                height: auto;
                cursor: pointer;
            }
        }
    }
}