*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,Arial, sans-serif;
    
}

body{
    background: #fbfbfb;
}
header{
    margin-bottom: 30px;
    background: #fff;
}
.container{
    margin: 0px auto;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 0px;
}

#titulo{
    width: 35%;
    padding: 0px 10px;
    h1{
        font-size: 2em;

        background: linear-gradient(to right, #c6426e , #642b73 ); 
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

#barraMenu{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}


ul.tabs {
	width:100%;
	overflow:hidden;
	list-style:none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    li{
        a.active{
            color:#c6426e;
            span{
                color:#c6426e;
            }
        }
    }
    a {
        color: rgba(198, 66, 110, 0.55);
        padding:10px;
        display:block;
        text-decoration:none;
        font-weight: bold;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: center;
           
    }
    span{
        margin-right:5px;
        font-size: 24px;
        color: rgba(198, 66, 110, 0.55);
    }
   
    a:hover {
        transform: scale(1.1);
        color: rgba(198, 66, 110, 0.9);
        span{
            color: rgba(198, 66, 110, 0.9);
        }
    }
}


//815px
@media screen and (max-width:960px ) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    
    #titulo{
        width: max-content;
        text-align: center;
    }
    #barraMenu{
        width: 100%;
        ul.tabs {
            justify-content: center;
            li{
                width: 20%;
            }
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding:10px 0px;
                font-size: 12px;
            }
            span {
                margin-right:0;
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width:530px ) {
    .container{
        border-bottom: none;
    }
    header{
        margin-bottom: 15px;
    }
    #titulo{
        width: 100%;
        min-width: 350px;
        padding: 0px 20px;
        h1{
            font-size: 1.5rem;
            text-align: left;
        }
    }
    #barraMenu{
        width: 100%;
        min-width: 350px;
        position: fixed;
        bottom: 0;
        z-index: 2000;
        border-top: 1px solid #c7c7c7;
        ul.tabs {
                background: #fff;
                justify-content:center;
            li{
                width: 25%;
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding:10px 0px;
                    font-size: 10px;
                }
            }
            span {
                margin-right:0;
            }
        }
    }
    

}
