/* popup */
.li-TituloPri {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  padding: 8px;
  list-style-type: none;
  font-size: 16px;
  font-weight: bold;
}

.li-Titulo {
  text-align: left;
  padding: 2px;
  list-style-type: none;
  font-weight: bold;
  padding: 4px 2px 2px 8px;
}

.li-Dato {
  text-align: center;
  padding: 6px;
  border-bottom: 1px solid #ddd;
  list-style-type: none;
}

/* controles de leytenda topright*/
.info {
  width: 250px;
  height: 160px;
  font: 14px Helvetica,arial, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#642b73), to(#c6426e));
  background: linear-gradient(to right, #642b73, #c6426e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.info .bloque1 {
  width: 100%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fff;
  border-radius: 5px 5px 0px 0px;
}

.info .bloque1 .SupLeft {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
}

.info .bloque1 .SupLeft .txt {
  text-align: left;
  opacity: 0.65;
}

.info .bloque1 .SupLeft .number {
  text-align: left;
}

.info .bloque1 .SupLeft .EO {
  font-size: 10px;
}

.info .bloque1 .SupRight {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .bloque1 .SupRight hr {
  margin: 3px 0px 6px 0px;
  width: 80%;
}

.info .bloque2 {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}

.info .bloque2 #medio {
  border-left: 1px solid #D7DDE5;
  border-right: 1px solid #D7DDE5;
}

.info .bloque2 .filaInferior {
  width: 100%;
  height: 100%;
  border-top: 1px solid #D7DDE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .bloque2 .filaInferior .txt {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .bloque2 .filaInferior .txt h3 {
  margin-left: 5px;
  font-size: 12px;
  opacity: .65;
}

.info .bloque2 .filaInferior .number {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .bloque2 .filaInferior .number h2 {
  color: black;
  padding-right: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

/*<div class="bloque1">
                            <div class="SupLeft"></div>
                            <div class="SupRight"></div>
                        </div>
                        <div class="bloque2">
                            <div class="filaInferior"></div>
                            <div class="filaInferior"></div>
                            <div class="filaInferior"></div>
                        </div>*/
/*# sourceMappingURL=PopUpStyle.css.map */