#tab4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tab4 ul {
  list-style: none;
  padding: 0px 20px;
}

#tab4 ul li {
  margin: 25px 0px;
}

#tab4 h2 {
  padding: 20px 20px;
  letter-spacing: 4px;
}

#conte-tab4 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.3);
}

.contorno-tab4 {
  width: 90%;
  height: 100%;
}

.infoContact {
  background: linear-gradient(135deg, #642b73, #c6426e);
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.95);
}

#datos li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#datos li span {
  font-size: 24px;
  margin-right: 20px;
}

#datos li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}

.mensajeContact {
  background-color: #fff;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mensajeContact h2 {
  color: #642b73;
}

#form-contact li input {
  width: 65%;
}

#form-contact li input[type=text]:focus, #form-contact li textarea:focus {
  outline: none;
}

#form-contact li textarea, #form-contact li input {
  padding: 8px;
  font-size: 14px;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

#form-contact li button {
  border: none;
  border-radius: 4px;
  background: #642b73;
  color: #fff;
  padding: 8px;
  width: 150px;
  cursor: pointer;
}

#form-contact li button:hover {
  -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 750px) {
  #tab4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #tab4 ul li {
    margin: 15px 0px;
  }
  #tab4 h2 {
    padding: 10px 20px;
    font-size: 1em;
  }
  #conte-tab4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: 100%;
    border-radius: 8px;
  }
  .infoContact {
    width: 100%;
    height: 45%;
    border-radius: 8px 8px 0 0;
  }
  .mensajeContact {
    width: 100%;
    height: 55%;
    border-radius: 0 0 8px 8px;
  }
  .contorno-tab4 {
    width: 100%;
    height: 100%;
  }
  #form-contact li textarea, #form-contact li input {
    width: 100%;
    font-size: 14px;
  }
  #form-contact li button {
    width: 100%;
  }
}

.contenido {
  width: 85%;
  height: 100%;
  margin-right: 15px;
}

.contenido #map {
  -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.8);
}

#map {
  width: 100%;
  min-height: 470px;
  height: 100%;
}

.title {
  position: absolute;
  width: 25%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 600;
  left: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.5);
  background: #fff;
}

.title h2 {
  background: -webkit-gradient(linear, right top, left top, from(#642b73), to(#c6426e));
  background: linear-gradient(to left, #642b73, #c6426e);
  padding: 20px;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-radius: 10px 10px 0px 0px;
}

.title div {
  padding: 30px 20px 20px 20px;
}

.title div h3 {
  font-size: 1rem;
}

.title div select {
  border-radius: 5px;
  padding: 7px;
  width: 100%;
}

@media screen and (max-width: 850px) {
  /*.secciones{
        article{
            display: flex;
            flex-direction: column;
        }
    } */
  #tab1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenido {
    width: 90%;
    min-height: 400px;
    height: 70%;
    margin-right: 0;
  }
  .title {
    position: relative;
    width: 90%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    z-index: none;
    left: 0px;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.5);
    background: #fff;
  }
  .title h2 {
    padding: 15px;
    font-size: 1.3em;
    letter-spacing: 4px;
  }
}

#tab2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#conte-tab2 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.3);
}

.titulo-tab2 {
  width: 100%;
  padding: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#642b73), to(#c6426e));
  background: linear-gradient(270deg, #642b73, #c6426e);
  color: #fff;
  letter-spacing: 4px;
}

.contenido-tab2 {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenido-tab2 .imgHorario {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenido-tab2 .imgHorario .lineaName h3 {
  text-align: center;
  padding: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contenido-tab2 .imgHorario .imageLinea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenido-tab2 .imgHorario .imageLinea img {
  width: 95%;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  #conte-tab2 {
    width: 96%;
    border-radius: 8px;
  }
  .titulo-tab2 {
    border-radius: 8px 8px 0px 0px;
  }
  .contenido-tab2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenido-tab2 .imgHorario {
    width: 50%;
  }
}

@media screen and (max-width: 530px) {
  #conte-tab2 {
    width: 90%;
    border-radius: 8px;
  }
  .titulo-tab2 {
    border-radius: 8px 8px 0px 0px;
    padding: 15px;
  }
  .titulo-tab2 h2 {
    font-size: 1.3em;
  }
  .contenido-tab2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenido-tab2 .imgHorario {
    width: 100%;
  }
  .contenido-tab2 .imgHorario .lineaName h3 {
    font-size: 1.2em;
  }
}

.secciones {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 20px;
}

.secciones article {
  position: relative;
  margin: 0px auto;
  max-width: 960px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 530px) {
  .secciones {
    margin-bottom: 80px;
  }
}
/*# sourceMappingURL=stylesSecciones.css.map */