* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica,Arial, sans-serif;
}

body {
  background-image: url(Tapiz/back.gif);
  background-size: 75px;
  background-repeat: repeat;
}

header {
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#642b73), to(#c6426e));
  background: linear-gradient(to right, #642b73, #c6426e);
}

.container {
  margin: 0px auto;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 10px 0px;
}

#titulo {
  width: 35%;
  padding: 0px 10px;
}

#titulo h1 {
  font-size: 2.5rem;
  /*background-image: url(Tapiz/blue.gif);
        background-size: 75px;
        background-repeat: repeat;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;*/
  color: #fff;
}

#barraMenu {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.tabs {
  width: 100%;
  overflow: hidden;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

ul.tabs a {
  color: #fff;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

ul.tabs a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

ul.tabs span {
  margin-right: 10px;
  font-size: 24px;
}

.active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #titulo {
    width: 100%;
    text-align: center;
  }
  #barraMenu {
    width: 100%;
  }
  #barraMenu ul.tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #barraMenu ul.tabs li {
    width: 20%;
  }
}

@media screen and (max-width: 815px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #titulo {
    width: 100%;
    text-align: center;
  }
  #barraMenu {
    width: 100%;
  }
  #barraMenu ul.tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #barraMenu ul.tabs li {
    width: 20%;
  }
  #barraMenu ul.tabs a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0px;
    font-size: 12px;
  }
  #barraMenu ul.tabs span {
    margin-right: 0;
    font-size: 24px;
  }
}

@media screen and (max-width: 530px) {
  header {
    background: -webkit-gradient(linear, left top, right top, from(#642b73), to(#c6426e));
    background: linear-gradient(to right, #642b73, #c6426e);
    margin-bottom: 15px;
  }
  #titulo {
    width: 100%;
    min-width: 350px;
  }
  #titulo h1 {
    color: #fff;
  }
  #barraMenu {
    width: 100%;
    min-width: 350px;
    position: fixed;
    bottom: 0;
    z-index: 2000;
  }
  #barraMenu ul.tabs {
    background: -webkit-gradient(linear, left top, right top, from(#642b73), to(#c6426e));
    background: linear-gradient(to right, #642b73, #c6426e);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #barraMenu ul.tabs li {
    width: 20%;
  }
  #barraMenu ul.tabs a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0px;
    font-size: 10px;
  }
  #barraMenu ul.tabs a:hover {
    background: rgba(0, 0, 0, 0.3);
    -webkit-transform: none;
            transform: none;
  }
  #barraMenu ul.tabs span {
    margin-right: 0;
    font-size: 24px;
  }
  .active {
    background: rgba(0, 0, 0, 0.3);
  }
}
/*# sourceMappingURL=styles.css.map */