*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,Arial, sans-serif;
    
}
body{
    background-image: url(Tapiz/back.gif);
    background-size: 75px;
    background-repeat: repeat;
}
header{
    margin-bottom: 30px;
    
    //background: linear-gradient(to right, #642b73, #c6426e); 
}
.container{
    margin: 0px auto;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 0px;
    border-bottom: 1px solid #642b73;



}

#titulo{
    width: 35%;
    padding: 0px 10px;
   
    h1{
        font-size: 2.5rem;

        /*background-image: url(Tapiz/blue.gif);
        background-size: 75px;
        background-repeat: repeat;*/
        background: linear-gradient(to right, #c6426e , #642b73 ); 
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

       
    //color:#c6426e;
       
    }
    
}
#barraMenu{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}


ul.tabs {
	width:100%;
	//background:#024959;
    overflow:hidden;
	list-style:none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    a {
        color:#642b73;
        padding:10px;
        display:block;
        text-decoration:none;
        font-weight: bold;
        text-transform: uppercase;
    }
    a:hover {
        //background:rgba(255,255,255,0.4);
        transform: scale(1.1);
        
    }
    span {
        margin-right:10px;
        font-size: 24px;
    }
}

.active{
    transform: scale(1.1);
}

/*@media screen and (max-width:960px ) {
    .container{
        flex-direction: column;
    }
    
    #titulo{
        width: 100%;
        text-align: center;
        
    }
    #barraMenu{
        width: 100%;
        ul.tabs {
            justify-content: center;
            li{
                width: 20%;
            }
        }
    }
}*/
//815px
@media screen and (max-width:960px ) {
    .container{
        flex-direction: column;
    }
    
    #titulo{
        width: 100%;
        text-align: center;
    }
    #barraMenu{
        width: 100%;
        ul.tabs {
            justify-content: center;
            li{
                width: 20%;
            }
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding:10px 0px;
                font-size: 12px;
            }
            span {
                margin-right:0;
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width:530px ) {
    .container{
        border-bottom: none;
    }
    header{
        margin-bottom: 15px;
    }
    #titulo{
        width: 100%;
        min-width: 350px;
        padding: 0px 20px;
        h1{
            font-size: 1.5rem;
            color:#fff;
            text-align: left;
        }
        
    }
    #barraMenu{
        width: 100%;
        min-width: 350px;
        position: fixed;
        bottom: 0;
        z-index: 2000;
        border-top: 1px solid #c7c7c7;
        ul.tabs {
            background-image: url(Tapiz/back.gif);
            background-size: 75px;
            background-repeat: repeat;

            justify-content:center;
           
            li{
                width: 20%;
            }
            a {
                //color:#000;
                color:#642b73;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding:10px 0px;
                font-size: 10px;
            }
            
            
            span {
                margin-right:0;
                font-size: 24px;
            }
        }
    }
    .active{
        transform: scale(1.1);
    }

}
